@tailwind base;
@tailwind components;
@tailwind utilities;

/* Minimal base styles */
html,body { height:100%; }
body { font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; background-color: #ffffff; color: #111827; }
